body {
	width:100%;
	margin:auto;
}
header img{
	width:100%;
	height: 15vh;
}
h1 { font-size: 10vw; }
h2 { font-size: 9vw; }
h3 { font-size: 7vw; }

p { font-size: 8vw;}
 
#about {
	width: 100%;
}
#about img {
	width:10vw;
}
#save {
	width:40vw;
	border: 3px blue solid;
}
#recipe {
	width: 100%;
}
video {
	width: 95%;
	height: 50vh;
}
ul li{
	/*span whole width of containing element*/
	width: 100%;
	font-size: 6vw;
	text-align: left;
}
ul li:before {
	content:"";
	background-image: url('../plus-icon.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 3vh;
	width: 3vh;
	display:inline-block;
}
ol li {
	/*should span whole width of containing element*/
	width: 100%
	font-size: 8vw;
	text-align: left;
}
.username { font-size: 8vw; }

#reviews {
	padding-top: 4px;
	font-size: 4vw;
	width:95%;
	height: 65vh;
	overflow:auto;
}
#reviews img {
	width: 5vh;
}
#share img {
	width: 15vw;
	height: auto;
}