[submodule "CFC-Directory"]
	path = CFC-Directory
	url = Z:/CANVAS_FILE_CACHES/GITHUBMINE/CFC-Directory/.git
[submodule "ClassOfHacks"]
	path = ClassOfHacks
	url = Z:/CANVAS_FILE_CACHES/GITHUBMINE/ClassOfHacks/.git
